
@import "./btn.scss";

html {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $baseColor;
    height: 100%;

    body {
        height: 100%;
        font-size: 0.24rem;
    }

    .app {
        max-width: 750px;
        height: 100%;
        margin: 0 auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        background: $baseBackgroundColor;
    }

    .border-bottom-line:after {
        bottom: 0;
        top: auto;
    }

    .border-top-line:before {
        top: 0;
        bottom: auto;
    }

    .border-top-line:before,
    .border-bottom-line:after {
        left: 0;
        right: auto;
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #eaeaea;
        display: block;
        z-index: 15;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }

}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
