.btn-list {
  width: 100%;

  button {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 15px;
    margin-top: 20px;
    color: #fff;
    background: #4e7cdd;
    border: none;
  }
}